Repository highcharts/node-export-server: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format

.lintstagedrc:

{
  "*.{js,ts}": ["npm run lint"],
  "*.{json,css,md}": ["npm run format"]
}

Try catched the checkAndUpdateCache function.
  lib/cache.js
Due: npm run lint

Optimized main functions for exporting process.
  lib/chart.js
Due: npm run lint

Optimized the puppeteerExport function, in the export module.
  lib/export.js
Due: npm run lint

Optimized the createChart function, in the highcharts module.
  lib/highcharts.js
Due: npm run lint

Optimized the pool module.
  lib/pool.js
Due: npm run lint

Enhanced logger functions.
  lib/logger.js
Due: npm run lint

Corrected saving and loading the config created by the prompt functionality.
  lib/prompt.js
Due: npm run lint

Corrected types of the config based options.
  lib/schemas/config.js
Due: npm run lint

Improved the options processing logic of the config module.
  lib/config.js
Due: npm run lint

Enhanced updates of the options in the API functions of the server modules.
  lib/server/server.js
Due: npm run lint

Optimized the rateLimitingMiddleware function, in the rateLimiting module.
  lib/server/middlewares/rateLimiting.js
Due: npm run lint

Optimized the validation middleware.
  lib/server/middlewares/validation.js
Due: npm run lint

Got rid of the HttpError and moved the setStatus function to the ExportError.
  lib/errors/ExportError.js
  lib/errors/HttpError.js
  lib/server/routes/versionChange.js
Due: npm run lint

Other, smaller corrections.
  lib/browser.js
  lib/resourceRelease.js
  lib/server/routes/export.js
  lib/server/routes/health.js
  lib/server/routes/ui.js
  lib/utils.js
Due: npm run lint

Samples and scenarios runners corrections.
  samples/module/optionsPhantom.js
  samples/module/optionsPuppeteer.js
  samples/module/promises.js
  samples/module/svg.js
  tests/node/nodeTestRunner.js
  tests/node/nodeTestRunnerSingle.js
Due: npm run lint

Packages updates.
  package-lock.json
  package.json
Due: npm run format

Updated API functions descriptions.
  README.md
Due: npm run format

Built scripts.
  dist/index.cjs
  dist/index.esm.js
  dist/index.esm.js.map
Due: npm run lint

Added option to enable or disable validation of options.
  .env.sample
  lib/schemas/config.js
Due: npm run lint

Updates of validators in the validation module.
  lib/validation.js
Due: npm run lint

Added two functions for validating data and some corrections.
  lib/config.js
Due: npm run lint

Secured incoming data with the validation logic.
  lib/chart.js
  lib/index.js
  lib/prompt.js
  lib/server/middlewares/validation.js
  lib/server/routes/versionChange.js
  lib/server/server.js
Due: npm run lint

The logZodIssues function small modifications.
  lib/logger.js
Due: npm run lint

Added tests for the validation and requestId parameters.
  tests/unit/validation/cli.test.js
  tests/unit/validation/config.test.js
  tests/unit/validation/envs.test.js
  tests/unit/validation/shared.js
Due: npm run lint

Updated README with the new info about validation option and new validating API functions.
  README.md
Due: npm run format

Imports corrections.
  dist/index.cjs
  dist/index.esm.js.map
  lib/config.js
  lib/index.js
  lib/pool.js
  lib/server/middlewares/validation.js
  lib/server/routes/health.js
  lib/server/routes/versionChange.js
Due: npm run lint

Simplified and optimized options processing logic.
  bin/cli.js
  lib/cache.js
  lib/chart.js
  lib/config.js
  lib/index.js
  lib/server/middlewares/rateLimiting.js
  lib/server/server.js
Due: npm run lint

Samples, scenarios and tests corrections.
  samples/http/requestInfile.json
  samples/module/optionsPhantom.js
  samples/module/optionsPuppeteer.js
  samples/module/promises.js
  samples/module/svg.js
  tests/cli/errorScenarios/doNotAllowCodeExecutionAndFileResources.json
  tests/cli/scenarios/allowCodeExecutionAndFileResources.json
  tests/http/scenarios/allowCodeExecution.json
  tests/http/scenarios/doNotAllowFileResources.json
  tests/node/errorScenarios/doNotAllowCodeExecutionAndFileResources.json
  tests/node/errorScenarios/optionsStringifiedWrong.json
  tests/node/scenarios/allowCodeExecution.json
  tests/node/scenarios/allowFileResources.json
  tests/node/scenarios/allowFileResourcesFalse.json
  tests/node/scenarios/constrChart.json
  tests/node/scenarios/constrGanttChart.json
  tests/node/scenarios/constrMapChart.json
  tests/node/scenarios/constrStockChart.json
  tests/node/scenarios/optionsJson.json
  tests/node/scenarios/optionsStringified.json
  tests/node/scenarios/sizesAndScaleFromCliPost.json
  tests/node/scenarios/svgBasic.json
  tests/node/scenarios/svgBasicWithScale.json
  tests/node/scenarios/svgBasicWithScaleToPdf.json
  tests/node/scenarios/svgForeignObject.json
  tests/node/scenarios/typeJpeg.json
  tests/node/scenarios/typePdf.json
  tests/node/scenarios/typePng.json
  tests/node/scenarios/typeSvg.json
  tests/other/privateRangeUrl.js
Due: npm run lint, npm run format

Extended README with an updated options handling and processing information.
  README.md
Due: npm run format

Small optimizations.
  README.md
  dist/index.cjs
  dist/index.esm.js
  dist/index.esm.js.map
  lib/browser.js
  lib/cache.js
  lib/chart.js
  lib/config.js
  lib/prompt.js
  lib/server/server.js
Due: npm run lint, npm run format

Updated paths handling and other small corrections.
  README.md
  dist/index.cjs
  dist/index.esm.js
  dist/index.esm.js.map
  lib/utils.js
  package-lock.json
  tests/http/scenarios/doNotAllowGlobalAndThemeFromFiles.json
Due: npm run lint, npm run format

Corrections in the README file.
  README.md
  dist/index.cjs
  dist/index.esm.js.map
  lib/utils.js
Due: npm run lint, npm run format

Improved options validation by moving it into the updateOptions function.
  README.md
  dist/index.cjs
  dist/index.esm.js
  dist/index.esm.js.map
  lib/chart.js
  lib/config.js
  lib/index.js
  lib/server/middlewares/validation.js
  lib/server/routes/versionChange.js
  lib/server/server.js
Due: npm run lint, npm run format

Secured from the dev-tools protocol limitiation data error.
  dist/index.cjs
  dist/index.esm.js
  dist/index.esm.js.map
  lib/browser.js
  lib/export.js
  lib/highcharts.js
Due: npm run lint

Removed dist.
  dist/index.cjs
  dist/index.esm.js
  dist/index.esm.js.map
Due: npm run lint

Comment correction.
  lib/export.js
Due: npm run lint

Minor visual corrections.
  lib/server/middlewares/validation.js
  lib/server/routes/export.js
  lib/server/routes/versionChange.js
Due: npm run lint

Added a check for the data size before sending it to a page for export process.
  dist/index.cjs
  dist/index.esm.js
  dist/index.esm.js.map
  lib/chart.js
Due: npm run lint
