Repository highcharts/node-export-server: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format

Nodemon config corrections.
  nodemon.json
Due: npm run format

.gitignore corrections.
  .gitignore
Due: none

Scripts corrections, devDependencies updates, and package-lock.json generation.
  package-lock.json
  package.json
Due: npm run format

Removed unnecessary install.js script.
  install.js
Due: npm run lint

Stylistic and other CHANGELOG.md corrections.
  CHANGELOG.md
Due: npm run format

Linted and formatted files.
  .github/ISSUE_TEMPLATE.md
  .github/workflows/build-and-push.yml
  .github/workflows/eslint-check.yml
  .github/workflows/unit-tests.yml
  README.md
  lib/highcharts.js
  public/index.html
  tests/node/scenarios/constr_map_chart.json
  tests/node/scenarios/constr_stock_chart.json
Due: npm run lint, npm run format

Corrected untrusted source of scripts problem with other minor corrections.
  jest.config.js
  public/img/logo.svg
  public/index.html
Due: npm run lint

Added functionalities for checking version and usage (--v and --help commands) with other optimizations.
  bin/cli.js
Due: npm run lint

Added separate HTTP errors and made some corrections.
  lib/errors/ExportError.js
  lib/errors/HttpError.js
  lib/errors/NoCorrectBodyError.js
  lib/errors/NoCorrectChartDataError.js
  lib/errors/NoCorrectResultError.js
  lib/errors/PrivateRangeUrlError.js
  lib/errors/ValidationError.js
Due: npm run lint

Revision and overhaul of the default config options.
  lib/schemas/config.js
Due: npm run lint

Optimization of the browser module.
  lib/browser.js
Due: npm run lint

Optimization of the cache module.
  lib/cache.js
Due: npm run lint

Modification, corrections and separation exporting logic into smaller and more readable functions.
  lib/chart.js
Due: npm run lint

Complete optimization the way options from all sources are set, get and validated.
  lib/config.js
Due: npm run lint

Added missing envs for the validation.
  lib/envs.js
Due: npm run lint

Optimization of the export module.
  lib/export.js
Due: npm run lint

Optimization of the fetch module.
  lib/fetch.js
Due: npm run lint

Optimization of the highcharts module.
  lib/highcharts.js
Due: npm run lint

Optimization of the index module.
  lib/index.js
Due: npm run lint

Optimization of the logger module.
  lib/logger.js
Due: npm run lint

Removed the poolConfig in favor of the global pool options, created a function for the factory object, and expanded stats info.
  lib/pool.js
Due: npm run lint

Moved the logic of the prompt functionality into a separated module.
  lib/prompt.js
Due: npm run lint

Optimization of the resourceRelease module.
  lib/resourceRelease.js
Due: npm run lint

Optimization of the sanitize module.
  lib/sanitize.js
Due: npm run lint

Renaming and optimization of the timer module.
  lib/intervals.js
  lib/timer.js
Due: npm run lint

Extended, corrected, moved existing and introduced a few new utility functions.
  lib/utils.js
Due: npm run lint

Corrected the HTTP error handler and moved it to the middlewares folder.
  lib/server/error.js
  lib/server/middlewares/error.js
Due: npm run lint

Separated and moved some of the export handler logic into a new validation middleware.
  lib/server/middlewares/validation.js
  lib/server/routes/export.js
Due: npm run lint

Optimization of the health route.
  lib/server/routes/health.js
Due: npm run lint

Corrected missing route setting functionality with the optimization of the ui route.
  lib/server/routes/ui.js
Due: npm run lint

Corrected the route to the /version_change/ with the optimization of the versionChange route.
  lib/server/routes/versionChange.js
Due: npm run lint

Optimization of the rateLimiting module.
  lib/server/rateLimiting.js
Due: npm run lint

Corrections and updates of the server module logic.
  lib/server/server.js
Due: npm run lint

Updated .env.sample and README files.
  .env.sample
  README.md
Due: npm run format

Updated versions of packages.
  package-lock.json
  package.json
Due: npm run format

Samples, scenarios, tests, and other smaller fixes and additions.
  public/js/main.js
  samples/module/optionsPhantom.js
  samples/module/optionsPuppeteer.js
  samples/module/promises.js
  samples/module/svg.js
  tests/cli/cliTestRunner.js
  tests/cli/cliTestRunnerSingle.js
  tests/http/httpTestRunner.js
  tests/http/httpTestRunnerSingle.js
  tests/node/nodeTestRunner.js
  tests/node/nodeTestRunnerSingle.js
  tests/node/scenarios/svgBasic.json
  tests/node/scenarios/svgBasicWithScale.json
  tests/node/scenarios/svgBasicWithScaleToPdf.json
  tests/node/scenarios/svgForeignObject.json
  tests/other/sideBySide.js
  tests/other/stressTest.js
  tests/unit/cache.test.js
  tests/unit/envs.test.js
  tests/unit/index.test.js
  tests/unit/sanitize.test.js
  tests/unit/utils.test.js
Due: npm run lint, npm run format

Small corrections.
  lib/errors/ValidationError.js
  tests/unit/utils.test.js
Due: npm run lint

Expanded exisitng envs validation logic into extensive validation mechanism for options from all sources.
  lib/envs.js
  lib/validation.js
Due: npm run lint

Added a new function to API called logZodIssues to log zod errors appropriately.
  README.md
  lib/index.js
  lib/logger.js
Due: npm run lint, npm run format

Path conditions:
  npm run lint: any of: *.{js,ts}
  npm run format: any of: *.{json,css,md}
