Repository highcharts/node-export-server: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format

.lintstagedrc:

{
  "*.{js,ts}": ["npm run lint"],
  "*.{json,css,md}": ["npm run format"]
}

Update jsdom to 30 and Jest to 30
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Update Puppeteer to 25
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Update Express to 5
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Update uuid, dotenv, https-proxy-agent, cors, dompurify and tarn
  .eslintrc.cjs
  CHANGELOG.md
  lib/envs.js
  package-lock.json
  package.json
Due: npm run lint, npm run format

Update Multer to 2
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Update zod to 4 and keep the environment validation messages
  CHANGELOG.md
  lib/envs.js
  package-lock.json
  package.json
Due: npm run lint, npm run format

Update express-rate-limit to 8 and drop its dead delay option
  .env.sample
  CHANGELOG.md
  lib/envs.js
  lib/schemas/config.js
  lib/server/rate_limit.js
  package-lock.json
  package.json
Due: npm run lint, npm run format

Update Highcharts to 13
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Tighten the 6.0.0 changelog and document the new options
  CHANGELOG.md
  README.md
Due: npm run format

Update prettier, rollup, nodemon, husky and the eslint plugins
  package-lock.json
  package.json
Due: npm run format

Update @rollup/plugin-terser to 1.0.0
  package-lock.json
  package.json
Due: npm run format

Update lint-staged to 17 and remove its broken config file
  .lintstagedrc
  package-lock.json
  package.json
Due: npm run format

Migrate to eslint 9 and flat config
  .eslintrc.cjs
  .github/workflows/eslint-check.yml
  eslint.config.js
  lib/browser.js
  lib/export.js
  lib/server/routes/change_hc_version.js
  package-lock.json
  package.json
Due: npm run lint, npm run format

Remove .eslintignore, superseded by the flat config
  .eslintignore
Due: none

Bump version
  package.json
Due: npm run format

Rebuild dist
  dist/index.cjs
  dist/index.esm.js
  dist/index.esm.js.map
Due: npm run lint

Changelog now part of NPM packages
  package.json
Due: npm run format
