Repository highcharts/node-export-server: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format

Optimization by moving and modifing the config-related logic.
  README.md
  lib/config.js
Due: npm run lint, npm run format

The schemas/config.js file contains the default configuration object only as a default export now.
  lib/schemas/config.js
Due: npm run lint

Optimized and simplified the cache.js module logic.
  lib/cache.js
Due: npm run lint

Optimized and simplified the chart.js module logic.
  lib/chart.js
Due: npm run lint

Corrections and moved some function to the chart.js module.
  lib/utils.js
Due: npm run lint

Moving some logic from the puppeteerExport into a new, _getChartSize function.
  lib/export.js
Due: npm run lint

Fixed the problem with not loading images from URLs.
  lib/highcharts.js
Due: npm run lint

Fixed the ui.enabled options usage.
  lib/server/routes/ui.js
Due: npm run lint

Removed the setStatus function.
  lib/errors/ExportError.js
Due: npm run lint

Optimized, reduced and moved info-related functions into a separate module.
  bin/cli.js
  lib/info.js
Due: npm run lint

Smaller optimizations, corrections and descriptions updates.
  lib/browser.js
  lib/envs.js
  lib/fetch.js
  lib/index.js
  lib/logger.js
  lib/pool.js
  lib/prompt.js
  lib/sanitize.js
  lib/server/middlewares/rateLimiting.js
  lib/server/routes/health.js
  lib/server/routes/versionChange.js
  lib/server/server.js
  lib/timer.js
  tests/http/httpTestRunner.js
  tests/http/httpTestRunnerSingle.js
  tests/other/sideBySide.js
  tests/other/stressTest.js
  tests/unit/utils.test.js
Due: npm run lint

Removed unnecessary tests.
  tests/unit/cache.test.js
  tests/unit/index.test.js
Due: npm run lint

Updated package.json.
  package-lock.json
  package.json
Due: npm run format

Built scripts.
  dist/index.cjs
  dist/index.esm.js
  dist/index.esm.js.map
Due: npm run lint

Small validation correction after merge.
  README.md
  dist/index.cjs
  dist/index.esm.js
  dist/index.esm.js.map
  lib/chart.js
  lib/index.js
  lib/server/server.js
Due: npm run lint, npm run format

Small validation correction after merge, vol. 2.
  dist/index.cjs
  dist/index.esm.js
  dist/index.esm.js.map
  lib/schemas/config.js
  package-lock.json
  package.json
Due: npm run lint, npm run format

Package vulnerability fix and removed dist.
  dist/index.cjs
  dist/index.esm.js
  dist/index.esm.js.map
  package-lock.json
Due: npm run lint, npm run format

Corrections in the browser module after merge.
  lib/browser.js
Due: npm run lint

Updated packages.
  package-lock.json
  package.json
Due: npm run format

Removed dist.
  dist/index.cjs
  dist/index.esm.js
  dist/index.esm.js.map
Due: npm run lint

Updated the Node.js Module example in the README, touch #563.
  CHANGELOG.md
  README.md
  package-lock.json
  package.json
Due: npm run format

Lint correction, touch #563.
  lib/highcharts.js
Due: npm run lint

Removed dist, touch #563.
  dist/index.cjs
  dist/index.esm.js
  dist/index.esm.js.map
Due: npm run lint

The instr and resources.json missing warning log corrections, touch #564.
  CHANGELOG.md
  dist/index.cjs
  dist/index.esm.js
  dist/index.esm.js.map
  lib/chart.js
  lib/highcharts.js
  package-lock.json
  package.json
Due: npm run lint, npm run format

Added XLink namespace for SVG results with tests, touch #547.
  CHANGELOG.md
  dist/index.cjs
  dist/index.esm.js
  dist/index.esm.js.map
  lib/highcharts.js
  lib/server/routes/export.js
  lib/utils.js
  package-lock.json
  package.json
  tests/unit/utils.test.js
Due: npm run lint, npm run format

Added the PUPPETEER_TEMP_DIR option, touch #567.
  .env.sample
  CHANGELOG.md
  README.md
  dist/index.cjs
  dist/index.esm.js
  dist/index.esm.js.map
  lib/browser.js
  lib/envs.js
  lib/highcharts.js
  lib/schemas/config.js
  package-lock.json
  package.json
  tests/unit/envs.test.js
Due: npm run lint, npm run format

Potential fix for code scanning alert no. 18: Inefficient regular expression
  lib/envs.js
Due: npm run lint

Simplfiied validator, touch #567.
  lib/envs.js
  tests/unit/envs.test.js
Due: npm run lint

Added proxy authentication, touch #631.
  .env.sample
  CHANGELOG.md
  README.md
  dist/index.cjs
  dist/index.esm.js
  dist/index.esm.js.map
  lib/cache.js
  lib/envs.js
  lib/highcharts.js
  lib/schemas/config.js
  package-lock.json
  package.json
Due: npm run lint, npm run format

Updated changelog.
  CHANGELOG.md
Due: npm run format

Bumped package version.
  package-lock.json
  package.json
Due: npm run format

Path conditions:
  npm run lint: any of: *.{js,ts}
  npm run format: any of: *.{json,css,md}
