Repository highcharts/node-export-server: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format

.lintstagedrc:

{
  "*.{js,ts}": ["npm run lint"],
  "*.{json,css,md}": ["npm run format"]
}

Small tweaks.
  lib/browser.js
  lib/server/middlewares/error.js
Due: npm run lint

Correction for SVG sanitazing function usage.
  lib/sanitize.js
Due: npm run lint

The _extractHcVersion enhancement.
  lib/cache.js
Due: npm run lint

Update README.md
  README.md
Due: npm run format

ESLint migration, packages updates, configs modifications, other.
  .eslintignore
  .eslintrc.cjs
  .lintstagedrc
  README.md
  eslint.config.mjs
  jest.config.mjs
  lib/browser.js
  lib/export.js
  lib/highcharts.js
  lint-staged.config.mjs
  package-lock.json
  package.json
  prettier.config.mjs
  public/js/main.js
  puppeteer.config.cjs
  rollup.config.mjs
  tests/other/sideBySide.js
Due: npm run lint, npm run format

NodeJS version requirements info update and some packages updates.
  README.md
  package-lock.json
  package.json
Due: npm run format

NodeJS version requirements info update, vol.2.
  README.md
Due: npm run format

Version and changelog corrections.
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Small corrections.
  README.md
  lib/browser.js
  lib/cache.js
  lib/config.js
  lib/errors/ExportError.js
  lib/highcharts.js
  lib/server/middlewares/error.js
  lib/server/middlewares/rateLimiting.js
  lib/server/routes/export.js
  lib/utils.js
  package-lock.json
  package.json
Due: npm run lint, npm run format

Various configurations corrections.
  eslint.config.js
  eslint.config.mjs
  jest.config.js
  lint-staged.config.js
  lint-staged.config.mjs
  nodemon.json
  prettier.config.js
  rollup.config.js
Due: npm run lint, npm run format

ESLint code corrections.
  lib/chart.js
  lib/config.js
  lib/prompt.js
  lib/server/middlewares/rateLimiting.js
  lib/server/server.js
  lib/validation.js
  samples/resources/callback.js
  tests/cli/cliTestRunner.js
  tests/node/nodeTestRunnerSingle.js
Due: npm run lint

Packages versions update with small scripts corrections.
  package-lock.json
  package.json
Due: npm run format

The package.json corrections.
  package-lock.json
  package.json
Due: npm run format

Optimized eslint command.
  package.json
Due: npm run format

The package-lock.json update.
  package-lock.json
Due: npm run format

Small dotenv correction and packages updates.
  lib/validation.js
  package-lock.json
  package.json
Due: npm run lint, npm run format

Correction for the cdnUrl property and packages updates.
  lib/cache.js
  package-lock.json
  package.json
Due: npm run lint, npm run format

Update multer to fix CVE-2025-47944
  package-lock.json
  package.json
Due: npm run format

feat: server could have a basic Auth
  .env.sample
  README.md
  lib/envs.js
  lib/schemas/config.js
  lib/server/server.js
Due: npm run lint, npm run format

Added useNpm option for Highcharts scripts.
  .env.sample
  CHANGELOG.md
  README.md
  lib/cache.js
  lib/schemas/config.js
  lib/validation.js
  package-lock.json
  package.json
  tests/unit/validation/cli.test.js
  tests/unit/validation/config.test.js
  tests/unit/validation/envs.test.js
  tests/unit/validation/shared.js
Due: npm run lint, npm run format

Added useNpm option for using local Highcharts scripts.
  .env.sample
  .prettierrc.json
  CHANGELOG.md
  README.md
  lib/cache.js
  lib/schemas/config.js
  package-lock.json
  package.json
Due: npm run lint, npm run format

The extractModuleNames function and env corrections.
  lib/cache.js
  lib/envs.js
  lib/schemas/config.js
  tests/unit/cache.test.js
Due: npm run lint

Potential fix for code scanning alert no. 36: Uncontrolled data used in path expression
  lib/server/routes/change_hc_version.js
Due: npm run lint

A small correction to the change version route.
  lib/server/routes/change_hc_version.js
Due: npm run lint

Default env value and readme corrections.
  .env.sample
  README.md
Due: npm run format

Optimized ESLint condig and package update.
  eslint.config.js
  package-lock.json
  package.json
Due: npm run lint, npm run format

Small performance and security corrections.
  CHANGELOG.md
  lib/cache.js
  lib/server/routes/versionChange.js
Due: npm run lint, npm run format

Unit tests corrections.
  lib/sanitize.js
  lib/validation.js
  tests/unit/validation/shared.js
Due: npm run lint

Updated Readme with the new modules.
  README.md
Due: npm run format

Small Readme correction.
  README.md
Due: npm run format

Enhanced the way paths are served in various scenarios.
  README.md
  lib/browser.js
  lib/cache.js
  lib/chart.js
  lib/config.js
  lib/info.js
  lib/logger.js
  lib/prompt.js
  lib/server/routes/health.js
  lib/server/routes/ui.js
  lib/server/server.js
  lib/utils.js
  package-lock.json
  package.json
  samples/module/optionsPhantom.js
  samples/module/optionsPuppeteer.js
  samples/module/promises.js
  samples/module/svg.js
  tests/cli/cliTestRunner.js
  tests/cli/cliTestRunnerSingle.js
  tests/http/httpTestRunner.js
  tests/http/httpTestRunnerSingle.js
  tests/node/nodeTestRunner.js
  tests/node/nodeTestRunnerSingle.js
  tests/other/sideBySide.js
  tests/utils/testUtils.js
Due: npm run lint, npm run format

Corrected finding the path of Highcharts dependency.
  lib/cache.js
  lib/schemas/config.js
  lib/utils.js
  package-lock.json
  package.json
  tests/unit/validation/cli.test.js
  tests/unit/validation/config.test.js
Due: npm run lint, npm run format

Corrected finding the path of Highcharts dependency.
  dist/index.cjs
  dist/index.esm.js
  dist/index.esm.js.map
  lib/cache.js
  lib/schemas/config.js
  lib/utils.js
Due: npm run lint

Update cache.js
  lib/cache.js
Due: npm run lint

Updated builds.
  dist/index.cjs
  dist/index.esm.js
  dist/index.esm.js.map
Due: npm run lint

Updating Multer to ^2.0.2
  package-lock.json
  package.json
Due: npm run format

Updating Multer to ^2.0.2
  dist/index.cjs
  dist/index.esm.js
  dist/index.esm.js.map
Due: npm run lint

Bumped packages versions.
  package-lock.json
  package.json
Due: npm run format

Update changelog
  CHANGELOG.md
Due: npm run format

Updated dependencies
  package-lock.json
Due: npm run format
