Repository highcharts/node-export-server: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format

.lintstagedrc:

{
  "*.{js,ts}": ["npm run lint"],
  "*.{json,css,md}": ["npm run format"]
}

Corrected the CHANGELOG.md file.
  CHANGELOG.md
Due: npm run format

Corrected the CHANGELOG.md file and bumped the version.
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Updated the CHANGELOG.md file and bumped the version.
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Small logs corrections.
  lib/config.js
Due: npm run lint

Updated the CHANGELOG.md file.
  CHANGELOG.md
Due: npm run format

License year corrections.
  lib/server/webSocket.js
  lib/telemetry.js
Due: npm run lint

Cosmetic corrections.
  CHANGELOG.md
  README.md
  bin/cli.js
  lib/schemas/config.js
  lib/server/routes/ui.js
  public/index.html
  tests/cli/cliTestRunnerSingle.js
  tests/http/httpTestRunner.js
  tests/http/httpTestRunnerSingle.js
  tests/other/sideBySide.js
Due: npm run lint, npm run format

updated the CHANGELOG.md file.
  CHANGELOG.md
Due: npm run format

Updated packages versions.
  package-lock.json
  package.json
Due: npm run format

Fix: remove all xlink:href attributes in incoming SVG
  lib/sanitize.js
Due: npm run lint

Added user agent and referer to CDN fetches
  lib/fetch.js
Due: npm run lint

Corrected the Referer value.
  dist/index.cjs
  dist/index.esm.js
  dist/index.esm.js.map
  lib/fetch.js
  lib/highcharts.js
Due: npm run lint

Added config options for setting max upload size
  CHANGELOG.md
  README.md
  lib/schemas/config.js
  lib/server/server.js
  package.json
Due: npm run lint, npm run format

Corrected the Referer value.
  dist/index.cjs
  dist/index.esm.js
  dist/index.esm.js.map
  lib/fetch.js
Due: npm run lint

Rebased master
  CHANGELOG.md
  dist/index.cjs
  dist/index.esm.js
  dist/index.esm.js.map
  lib/envs.js
  tests/unit/envs.test.js
Due: npm run lint, npm run format

Added the PUPPETEER_TEMP_DIR option, touch #567.
  lib/schemas/config.js
Due: npm run lint

Fix versions
  CHANGELOG.md
  package.json
Due: npm run format

Version bump
  CHANGELOG.md
  package.json
Due: npm run format

Fixed path test
  dist/index.cjs
  dist/index.esm.js
  dist/index.esm.js.map
  lib/envs.js
Due: npm run lint

Updated dist files
  dist/index.cjs
  dist/index.esm.js
  dist/index.esm.js.map
Due: npm run lint

Corrections and additions after PRs merges.
  .env.sample
  CHANGELOG.md
  README.md
  dist/index.cjs
  dist/index.esm.js
  dist/index.esm.js.map
  lib/envs.js
  lib/sanitize.js
  lib/schemas/config.js
  package-lock.json
Due: npm run lint, npm run format

Changed CDN fetch referal
  lib/fetch.js
Due: npm run lint

Changed log output of data size from notice to verbose
  lib/export.js
Due: npm run lint

Fixed wording
  README.md
Due: npm run format

Switched to pipe mode by default for puppeteer
  lib/schemas/config.js
Due: npm run lint

Improved logging around browser initialization and retries
  lib/browser.js
Due: npm run lint

V5.0.0
  README.md
  dist/index.cjs
  dist/index.esm.js
  dist/index.esm.js.map
  lib/envs.js
  lib/sanitize.js
Due: npm run lint, npm run format

Add next(error) in returnErrorMiddleware
  lib/server/error.js
Due: npm run lint

Added additional sanitation to get rid of the tracker element.
  .env.sample
  lib/envs.js
  lib/export.js
  lib/sanitize.js
Due: npm run lint

Added manual trigger for docker workflow
  .github/workflows/build-and-publish-docker.yml
Due: none

trigger workflow on pr
  .github/workflows/build-and-publish-docker.yml
Due: none

update docker build steps for envs
  .github/workflows/build-and-publish-docker.yml
Due: none
