Repository highcharts/node-export-server: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format

.lintstagedrc:

{
  "*.{js,ts}": ["npm run lint"],
  "*.{json,css,md}": ["npm run format"]
}

Updated dependencies
  lib/sanitize.js
Due: npm run lint

Bump version
  package.json
Due: npm run format

ESLint config simplified and packages update.
  eslint.config.js
  package-lock.json
  package.json
Due: npm run lint, npm run format

chore!: refresh dependencies and runtime support
  .eslintignore
  .eslintrc.cjs
  CHANGELOG.md
  eslint.config.js
  jest.config.js
  lib/server/rate_limit.js
  package-lock.json
  package.json
Due: npm run lint, npm run format

ci: test supported Node.js releases
  .github/workflows/build-and-push.yml
  .github/workflows/eslint-check.yml
  .github/workflows/unit-tests.yml
Due: none

build: regenerate distribution bundles
  dist/index.cjs
  dist/index.esm.js
  dist/index.esm.js.map
Due: npm run lint

add docker container and workflow
  .dockerignore
  .github/workflows/build-and-deploy.yml
  Dockerfile
  README.md
  docker-compose.yml
  docker/config.json
  package-lock.json
Due: npm run format

Add workflow for future docker builds
  .github/workflows/build-and-deploy.yml
Due: none

updated docker build flow
  .github/workflows/build-and-deploy.yml
  .github/workflows/docker_build.yml
  .github/workflows/docker_deploy.yml
  .github/workflows/flow_docker.yml
  .versionrc
  VERSION
Due: none

simplify environment builds
  .github/workflows/flow_docker.yml
Due: none

update checkout action
  .github/workflows/docker_build.yml
Due: none

.
  .github/workflows/build-and-deploy.yml
Due: none

run node v22
  Dockerfile
Due: none

also build for arm
  .github/workflows/build-and-deploy.yml
Due: none

update node to v24
  Dockerfile
Due: none

fix build warnings
  .github/workflows/build-and-push.yml
  .github/workflows/eslint-check.yml
  .github/workflows/flow_docker.yml
  .github/workflows/unit-tests.yml
Due: none

bump version
  VERSION
Due: none

add docker container and workflow (#682)
  .dockerignore
  .github/workflows/build-and-deploy.yml
  .github/workflows/build-and-push.yml
  .github/workflows/docker_build.yml
  .github/workflows/docker_deploy.yml
  .github/workflows/eslint-check.yml
  .github/workflows/flow_docker.yml
  .github/workflows/unit-tests.yml
  .versionrc
  Dockerfile
  README.md
  VERSION
  docker-compose.yml
  docker/config.json
  package-lock.json
Due: npm run format

Add a load test harness
  tests/other/load_test.js
Due: npm run lint

Await page clearing before handing a worker to the next export
  CHANGELOG.md
  lib/pool.js
  tests/other/page_isolation_test.js
Due: npm run lint, npm run format

Close the page when setting it up fails
  CHANGELOG.md
  lib/browser.js
  tests/other/page_leak_test.js
Due: npm run lint, npm run format

Recover when the browser process dies
  CHANGELOG.md
  lib/browser.js
  lib/pool.js
  tests/other/browser_recovery_test.js
Due: npm run lint, npm run format

Add machine readable error codes to error responses
  CHANGELOG.md
  lib/errors/ExportError.js
  lib/errors/HttpError.js
  lib/errors/codes.js
  lib/pool.js
  lib/server/error.js
  lib/server/routes/export.js
Due: npm run lint, npm run format

Bound the export queue and refuse work beyond it
  .env.sample
  CHANGELOG.md
  lib/envs.js
  lib/pool.js
  lib/schemas/config.js
  lib/server/server.js
  tests/other/load_test.js
Due: npm run lint, npm run format

Guarantee error responses never carry a 5xx status
  CHANGELOG.md
  lib/errors/ExportError.js
  lib/errors/HttpError.js
  lib/pool.js
  lib/server/error.js
  tests/unit/server_error.test.js
Due: npm run lint, npm run format

Discard exports whose client has already disconnected
  CHANGELOG.md
  lib/errors/codes.js
  lib/pool.js
  lib/server/routes/export.js
  lib/server/routes/health.js
Due: npm run lint, npm run format

Confirm the browser process has exited, and report browser health
  CHANGELOG.md
  lib/browser.js
  lib/pool.js
  lib/server/routes/health.js
Due: npm run lint, npm run format

Reuse the DOM and purifier when sanitizing SVGs
  CHANGELOG.md
  lib/sanitize.js
Due: npm run lint, npm run format

Clear the rasterization timeout timer once the race is decided
  CHANGELOG.md
  lib/export.js
Due: npm run lint, npm run format

Bound browser launch retries by time instead of attempt count
  .env.sample
  CHANGELOG.md
  lib/browser.js
  lib/envs.js
  lib/schemas/config.js
Due: npm run lint, npm run format

Hold idle keep-alive connections longer than proxies do
  .env.sample
  CHANGELOG.md
  lib/envs.js
  lib/schemas/config.js
  lib/server/server.js
Due: npm run lint, npm run format

Drain in-flight exports before exiting on shutdown
  .env.sample
  CHANGELOG.md
  lib/envs.js
  lib/resource_release.js
  lib/schemas/config.js
  lib/server/server.js
Due: npm run lint, npm run format

Give the page leak test its own browser profile directory
  tests/other/page_leak_test.js
Due: npm run lint

Add a render layout comparison between two servers
  tests/other/render_compare_test.js
  tests/other/render_geometry.js
Due: npm run lint

Raise the supported Node.js baseline to 22 and 24
  .github/workflows/build-and-push.yml
  .github/workflows/eslint-check.yml
  .github/workflows/unit-tests.yml
  CHANGELOG.md
  package.json
Due: npm run format

Close the page when an export times out rasterizing
  CHANGELOG.md
  lib/pool.js
Due: npm run lint, npm run format
